### BUILT IN DATA STRUCTURE

In [1]:
# TO COLLECT MULTIPLE DATA IN A STRUCTURE

In [2]:
# LIST SET TUPLE DICTIONARY

#### LIST

In [3]:
student_marks = 41,85,96,74,100,98

In [5]:
student_marks

(41, 85, 96, 74, 100, 98)

In [4]:
type(student_marks)

tuple

In [6]:
empty_cart = []

In [8]:
type(empty_cart)

list

In [11]:
items_to_buy = ["apple","orange","red-banana","pomagranate"]
items_to_buy

['apple', 'orange', 'red-banana', 'pomagranate']

In [12]:
type(items_to_buy)

list

In [25]:
items_to_buy = ["apple","orange","Grapes","red-banana","pomagranate",3.14]

In [26]:
items_to_buy

['apple', 'orange', 'Grapes', 'red-banana', 'pomagranate', 3.14]

In [15]:
items_to_buy[0]

'apple'

In [16]:
items_to_buy[-1]

3.14

In [17]:
items_to_buy[2]

'red-banana'

In [18]:
items_to_buy[-4]

'orange'

In [19]:
len(items_to_buy)

5

In [20]:
items_to_buy[3]

'pomagranate'

In [21]:
items_to_buy[4]

3.14

In [22]:
items_to_buy[-5]

'apple'

In [27]:
items_to_buy[0:-1]

['apple', 'orange', 'Grapes', 'red-banana', 'pomagranate']

In [28]:
items_to_buy[2:]

['Grapes', 'red-banana', 'pomagranate', 3.14]

In [29]:
items_to_buy[:]

['apple', 'orange', 'Grapes', 'red-banana', 'pomagranate', 3.14]

In [32]:
items_to_buy[-4:-2]

['Grapes', 'red-banana']

In [33]:
items_to_buy.append("Dragon Fruit")

In [34]:
items_to_buy[1]="Avacoda"

In [56]:
items_to_buy.count("Avacoda")

1

In [35]:
items_to_buy

['apple',
 'Avacoda',
 'Grapes',
 'red-banana',
 'pomagranate',
 3.14,
 'Dragon Fruit']

In [57]:
items_to_buy.index('apple')

0

### SET

In [36]:
empty_set = set()

In [37]:
type(empty_set)

set

In [48]:
items_to_buy_2 = {"apple","orange","Grapes","red-banana","pomagranate",3.14}

In [49]:
type(items_to_buy_2)

set

In [50]:
items_to_buy_2[0] = "Banana"

TypeError: 'set' object does not support item assignment

In [51]:
items_to_buy_2

{3.14, 'Grapes', 'apple', 'orange', 'pomagranate', 'red-banana'}

In [52]:
items_to_buy_2.add("Banana")

In [53]:
items_to_buy_2

{3.14, 'Banana', 'Grapes', 'apple', 'orange', 'pomagranate', 'red-banana'}

In [54]:
items_to_buy_2.discard("apple")

In [55]:
items_to_buy_2

{3.14, 'Banana', 'Grapes', 'orange', 'pomagranate', 'red-banana'}

### TUPLE

In [58]:
empty_tuple = ()

In [59]:
type(empty_tuple)

tuple

In [64]:
items_to_buy_3 = ("apple","orange","Grapes","red-banana","pomagranate",3.14,'apple')

In [65]:
type(items_to_buy_3)

tuple

In [66]:
items_to_buy_3

('apple', 'orange', 'Grapes', 'red-banana', 'pomagranate', 3.14, 'apple')

In [67]:
items_to_buy_3[0] = "green"

TypeError: 'tuple' object does not support item assignment

In [69]:
items_to_buy_3.count(3.14)

1

In [70]:
items_to_buy_3.index("pomagranate")

4

### DICTIONARY

In [71]:
# its a key-value pair

In [72]:
empty_dict_new = {}

In [73]:
type(empty_dict_new)

dict

In [75]:
studentmarks = {"Maths":99,"Science":90,"English":90,"Tamil":99,"Social Science":99}

In [76]:
items = {"apple":2,"Orange":3,"Dates":6,"Avacoda":3}

In [77]:
items

{'apple': 2, 'Orange': 3, 'Dates': 6, 'Avacoda': 3}

In [80]:
items.keys()

dict_keys(['apple', 'Orange', 'Dates', 'Avacoda'])

In [81]:
items.values()

dict_values([2, 3, 6, 3])

In [83]:
items.items()

dict_items([('apple', 2), ('Orange', 3), ('Dates', 6), ('Avacoda', 3)])

In [84]:
import pandas as pd

In [85]:
pd.DataFrame(data=items,)

ValueError: If using all scalar values, you must pass an index

In [87]:
studentmarks = {"Names":["Chandru","Boominath","Lokesh","Razeeth","Kadhirvel"],"Maths":[99,100,99,89,80],
                "Science":[90,95,92,90,100],"English":[90,99,100,67,89],"Tamil":[99,89,80,91,99],
                "Social Science":[99,98,98,99,100]}
pd.DataFrame(data=studentmarks)

       Names  Maths  Science  English  Tamil  Social Science
0    Chandru     99       90       90     99              99
1  Boominath    100       95       99     89              98
2     Lokesh     99       92      100     80              98
3    Razeeth     89       90       67     91              99
4  Kadhirvel     80      100       89     99             100

### Task-3

In [3]:
import pandas as pd

In [89]:
# 3 different data frames by own

In [4]:
friends = pd.DataFrame({"Employee":["Boomi","Lokesh","Kadhirvel","Razeeth"],
                       "Department":["CEO","CTO","CFO","COO"]
                       })

In [5]:
friends

    Employee Department
0      Boomi        CEO
1     Lokesh        CTO
2  Kadhirvel        CFO
3    Razeeth        COO

In [6]:
stars = pd.DataFrame(
    {
        "Name":["Vijay","Ajith","Vikram","Surya","John","Nasir"],
        "Expert":["dancing","racing","Acting","Acting","Coaching","Teaching"],
        "location":["India","USA","UAE","UK","RUSSIA","JAPAN"]
    }
)

In [7]:
stars

     Name    Expert location
0   Vijay   dancing    India
1   Ajith    racing      USA
2  Vikram    Acting      UAE
3   Surya    Acting       UK
4    John  Coaching   RUSSIA
5   Nasir  Teaching    JAPAN

In [8]:
my_team = pd.DataFrame(
    {
        "Name":["Lokesh","Kadhirvel","Naveen","Razeeth","Arunraj","karthik","Devi","kavitha"],
        "Specialist":["Talking","Comedian","Silent killer","Flirting","Movie scraper","sports","Smily girl","Bold"]
    }
)

In [9]:
my_team

        Name     Specialist
0     Lokesh        Talking
1  Kadhirvel       Comedian
2     Naveen  Silent killer
3    Razeeth       Flirting
4    Arunraj  Movie scraper
5    karthik         sports
6       Devi     Smily girl
7    kavitha           Bold