In [3]:
name = ["a","b","c","d","e"]

for i in name:
    print(i)

a
b
c
d
e

#### IF-ELSE

In [7]:
water_level = int(input("Enter your water level: "))
if water_level > 80:
    print("Drain water")
else:
    print("Continue filling")

Enter your water level:  45

Continue filling

In [54]:
age = int(input("Enter your age: "))

if age >18:
    print("You're able to apply driving license")
else:
    print("you're not able to apply because you're minor")

Enter your age:  45

You're able to apply driving license

In [9]:
print("Welcome to the rollercoaster!")

height = int(input("Enter your height in cm: "))

if height >=120:
    print("you can ride the rollercoaster.")
else:
    print("Sorry you can't be allow to ride the rollercoaster.")

Welcome to the rollercoaster!

Enter your height in cm:  119

Sorry you can't be allow to ride the rollercoaster.

In [10]:
num = 49

if num%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [11]:
print("Welcome to the rollercoaster")

height = int(input("Enter you height in cm:"))

if height >= 120:
    print("you can ride.")
    age = int(input("Enter your age: "))
    if age < 12:
        print("$5")
    elif 12 < age < 18:
        print("$7")
    else:
        print("$12")
else:
    print("No")

Welcome to the rollercoaster

Enter you height in cm: 130

you can ride.

Enter your age:  21

$12

In [18]:
weight = int(input("Enter your weight:"))

height = int(input("Enter your height:"))

bmi = weight / (height ** 2)

if bmi < 18.5:
    print("under weight")
elif 18.5 <= bmi < 24.9:
    print("Normal weight")
elif 25<= bmi < 29.9:
    print("Over weight")
else:
    print("Obese")

Enter your weight: 80
Enter your height: 175

under weight

### ROCK PAPER SCISSORS GAME

In [29]:
import random

rock = '''
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)
'''

paper = '''
    _______
---'   ____)____
          ______)
          _______)
         _______)
---.__________)
'''

scissors = '''
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)
'''

game_images = [rock, paper, scissors]

try:
    user_choice = int(input("What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.\n"))
    if user_choice < 0 or user_choice > 2:
        print("You typed an invalid number. pLease enter a number between 0 to 2")
    else:
        print(game_images[user_choice])

        computer_choice = random.randint(0, 2)
        print("Computer chose:")
        print(game_images[computer_choice])
        
        
        if user_choice == 0 and computer_choice == 2:
            print("You win!")
        elif computer_choice == 0 and user_choice == 2:
            print("You lose!")
        elif computer_choice > user_choice:
            print("You lose!")
        elif user_choice > computer_choice:
            print("You win!")
        elif computer_choice == user_choice:
            print("It's a draw!")

except ValueError:
    print("You typed an invalid number. Please enter a number between 0 to 2")

What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.
 84

You typed an invalid number. pLease enter a number between 0 to 2

### FOR LOOP

In [36]:
# FOR LOOP WITH LIST

dogs = ['sam','jimmy','tom']

for dog in dogs:
    print(dog)
    print(dogs)

sam
['sam', 'jimmy', 'tom']
jimmy
['sam', 'jimmy', 'tom']
tom
['sam', 'jimmy', 'tom']

In [32]:
# FOR LOOP WITH RANGE()

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [51]:
# for loop using a string
for x in "CHANDRU":
    print(x)

C
H
A
N
D
R
U

In [52]:
# FOR LOOP USING ENUMERATE

names = ["Chandru","Kathiravan","Deivanayagan"]

for index,name in enumerate(names):
    print(index,name)

0 Chandru
1 Kathiravan
2 Deivanayagan

In [53]:
# FOR LOOP USING DICTIONARY

names = {"name1":"Chandru","name2":"Kathiravan","name3":"Deivanayagan",
        "age1":23,'age2':31,'age':56,
         "occupation1":"unemployed",'occupation2':"Manager","occupation3":"Public sector"
        }

for key,value in names.items():
    print(key,'----->',value)

name1 -----> Chandru
name2 -----> Kathiravan
name3 -----> Deivanayagan
age1 -----> 23
age2 -----> 31
age -----> 56
occupation1 -----> unemployed
occupation2 -----> Manager
occupation3 -----> Public sector

In [45]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [48]:
squares = [x**2 for x in range(20)]

cubes = [y**3 for y in range(20)]

In [49]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [50]:
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]