### IMPORT NECESSARY LIBRARIES

In [1]:
import pandas as pd

### LOAD THE DATASET AND COMBINE INTO SINGLE DATASET

In [84]:
sales_2017 = pd.read_csv("2017.csv")
sales_2018 = pd.read_csv("Sales-Transcations-2018.csv")
sales_2019 = pd.read_csv("Sales-Transcations-2019.csv")

sales_data = pd.concat(objs=[sales_2017,sales_2018,sales_2019])

### INITIAL ANALYSIS - EDA

In [85]:
sales_data.head()

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN

In [86]:
sales_data.shape

(111206, 9)

In [87]:
sales_data.dtypes

Date              object
Voucher           object
Party             object
Product           object
Qty               object
Rate              object
Gross             object
Disc              object
Voucher Amount    object
dtype: object

In [6]:
sales_data.isna().sum()

Date               12591
Voucher            12557
Party                 40
Product            12591
Qty                12557
Rate               12558
Gross              12558
Disc              105609
Voucher Amount     83646
dtype: int64

In [12]:
sales.isna().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       1
dtype: int64

In [24]:
sales_data

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

### DROPPING DUPLICATES

In [29]:
sales_data.drop_duplicates(inplace=True)

### HANDLING MISSING VALUES

#### FILLING MISSING VALUES 1.DISCRETE VALUES WITH '0' 2.CATEGORICAL VALUES WITH 'UNKNOWN'

In [30]:
sales_data.columns

Index(['Date', 'Voucher', 'Party', 'Product', 'Qty', 'Rate', 'Gross', 'Disc',
       'Voucher Amount'],
      dtype='object')

In [80]:
for feature in sales_data.select_dtypes(include=['float64','int64']).columns:
    sales_data = sales_data.fillna(0,inplace=True)

AttributeError: 'NoneType' object has no attribute 'select_dtypes'

,date,voucher,party,product,qty,rate
0,2017-01-04,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,2017-01-04,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,2017-01-04,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,2017-01-04,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,2017-01-04,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19169,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
19170,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800,8.5
19171,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16
19174,NaT,Total,0,0,"99,284.90","175,381.65"
19175,NaT,Total,0,0,"2,710,193.00","5,519,888.40"

In [81]:
for feature in sales_data.select_dtypes(include=["object"]).columns:
    sales_data.fillna("Unknown",inplace=True)

AttributeError: 'NoneType' object has no attribute 'select_dtypes'

In [44]:
sales_data

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0,0
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0,0
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0,0
...,...,...,...,...,...,...,...,...,...
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",0,0
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",0,0
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",0,0
19174,0,Total,0,0,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,0,Total,0,0,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [45]:
sales_data.isna().sum()

Date              0
Voucher           0
Party             0
Product           0
Qty               0
Rate              0
Gross             0
Disc              0
Voucher Amount    0
dtype: int64

### DROPPING NOT RELEVANT FEATURES TO THIS DATASET

In [46]:
sales_data.drop(labels=["Gross","Disc","Voucher Amount"],axis=1,inplace=True)

In [47]:
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16
19174,0,Total,0,0,"99,284.90","175,381.65"
19175,0,Total,0,0,"2,710,193.00","5,519,888.40"

In [48]:
sales_data.isna().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       0
dtype: int64

### STANDARDIZE COLUMN NAMES

In [49]:
sales_data.columns = sales_data.columns.str.strip().str.lower().str.replace(" ", "_")

In [52]:
sales_data.head(11)

        date   voucher                party             product  qty      rate
0   1/4/2017     Sal:1     SOLANKI PLASTICS       DONA-VAI-9100    2  1,690.00
1   1/4/2017     Sal:1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1,620.00
2   1/4/2017     Sal:2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500        23
3   1/4/2017     Sal:2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1,620.00
4   1/4/2017     Sal:2   SARNESWARA TRADERS       DONA-VAI-9100    5  1,690.00
5   1/4/2017     Sal:2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1,320.00
6   1/4/2017   Sal:898                 Lock        Vishnu 250ml  100        30
7   1/4/2017   Sal:898                 Lock     BLACK DOG-350ML  100        26
8                       khader vali late en
9                                       try
10  1/4/2017  Sal:2497  VAMSI KRISHNA FANCY         Loose Items    1       800

### REMOVING LEADING AND TRAILING SPACES

In [62]:
def trim_whitespaces(sales_data):

    for x in sales_data.columns:
        if sales_data[x].dtype == 'Object':
            sales_data = sales_data[x].str.strip()
    return sales_data

In [67]:
sales_data = trim_whitespaces(sales_data)

In [68]:
sales_data

,date,voucher,party,product,qty,rate
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16
19174,0,Total,0,0,"99,284.90","175,381.65"
19175,0,Total,0,0,"2,710,193.00","5,519,888.40"

In [65]:
sales_data.shape

(96624, 6)

### CONVERT DATE COLUMNS INTO DATETIME

In [72]:
if 'date' in sales_data.columns:
    sales_data['date'] = pd.to_datetime(sales_data['date'])

In [73]:
sales_data.isna().sum()

date       59210
voucher        0
party          0
product        0
qty            0
rate           0
dtype: int64

In [26]:
sales.shape

(95562, 6)

(111206, 9)

In [31]:
sales.dtypes

Date        object
Voucher      int64
Party       object
Product     object
Qty          int64
Rate       float64
dtype: object

In [82]:
sales

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,1,SOLANKI PLASTICS,DONA-VAI-9100,2,1690.0
1,1/4/2017,1,SOLANKI PLASTICS,LITE FOAM(1200),6,1620.0
2,1/4/2017,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23.0
3,1/4/2017,2,SARNESWARA TRADERS,LITE FOAM(1200),6,1620.0
4,1/4/2017,2,SARNESWARA TRADERS,DONA-VAI-9100,5,1690.0
...,...,...,...,...,...,...
95557,12/9/2019,4265,TP13,SPOON MED M.W,20,11.0
95558,12/9/2019,4266,K.SRIHARI,SMART BOUL(48),1,1830.0
95559,12/9/2019,4267,SMS,SMARTBOUL GLA(4000),1,1520.0
95560,12/9/2019,4268,ANILFANCY,RR WINEGLASS,100,20.0
95561,12/9/2019,4268,ANILFANCY,RR WATER GLASS,100,20.0

In [83]:
sales.shape

(95562, 6)